{% extends "homepage.html" %}

{% block content %}
<style>
    /* Style for About Us section */
    #about {
        background-color: #fff;
        padding: 50px 0;
    }

    #about h2 {
        font-size: 36px;
        margin-bottom: 30px;
        text-align: center;
    }

    #about p {
        font-size: 18px;
        text-align: center;
    }

</style>

<section id="about" class="section">
    <div class="container">
        <h2>About Us</h2>
        <p>Welcome to our Jewellery Management System. We are committed to providing the finest quality jewellery and
            exceptional customer service.</p>
        <p>Our team of skilled artisans and designers are dedicated to creating unique and exquisite pieces that reflect
            the elegance and beauty of fine jewellery.</p>
        <p>Whether you're looking for engagement rings, wedding bands, or custom-made jewellery, we strive to exceed
            your expectations with our craftsmanship and attention to detail.</p>
    </div>
</section>
{% endblock %}
